<div style='background-color: red;'>
   <!--   user's info: name, pic, status    -->
  <div>
    <ul>
<!--      ??-->
      <li>
        <img ng-src="{{ currentUser.pic }}">
        {{ currentUser.name }}
        {{ currentUser.status }}
      </li>
    </ul>
  </div>  
  
  <hr>
  
  <!--    other users' info: name, pic, status    -->
  
  <div>
    <ul>
      
<!--      ??-->
      <li ng-repeat="profile in profiles">
         <img ng-src="{{ profile.pic }}">
        {{ profile.name }}
        {{ profile.status }}
      </li>
    </ul>
  </div>

</div>